includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: 5
    paths:
        - src
        - test
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Class Dot\\Form\\FormElementManager extends @final class Laminas\\Form\\FormElementManager.#'
            path: src/FormElementManager.php
